@import 'variables'

// Blog Styling

.blog-container
    margin: 3rem auto
    width: 90%
    @media screen and (max-width: 1440px)
        width: 95%
    @media screen and (max-width: 1024px)
        width: 100%
    .blog-posts
        padding: 2rem
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between 
        @media screen and (max-width: 1024px)
            padding: 0
        .blog-post-container
            margin: 2rem 1rem
            width: 21%
            background: #fff
            box-shadow: 0px 0px 20px gray 
            @media screen and (max-width: 1250px)
                width: 28%
            @media screen and (max-width: 768px)
                width: 43%
            @media screen and (max-width: 475px)
                width: 100%   
            .blog-post
                h5 
                    padding: .5rem
                    text-align: center
                    color: #fff 
                    font-family: $headings
                    font-size: 1.5rem 
                    font-weight: 300
                    text-transform: uppercase
                    letter-spacing: .5rem
                    background-color: $blue
                h3 
                    padding: 1rem 0 .5rem 0
                    margin: 0 auto
                    width: 90%
                    font-family: $headings
                    font-size: 1.2rem
                    text-align: center
                    border-bottom: 1px solid black 
                .blog-body 
                    padding: .25rem 0
                    margin: 0 auto
                    width: 90%
                .blog-link 
                    margin: 1rem 0
                    text-align: center
                    a 
                        font-family: $bodytext
                        padding: .5rem
                        border: 1px solid black 
                    a:hover 
                        background-color: $blue
                        color: #fff 
                        transition: .5s

// single blog

.single-post-container
    margin: 4rem auto
    width: 75%
