@import 'variables'

// Blog Styling

.blog-container
    margin: 3rem auto
    width: 90%
    @media screen and (max-width: 1440px)
        width: 95%
    @media #{$xlarge}
        width: 100%
    .blog-posts
        padding: 2rem
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: flex-start 
        @media screen and (max-width: 1024px)
            padding: 1rem 0
        .blog-post-container
            padding: 2rem 2rem
            width: 25%
            background: #fff
            @media #{$xxlarge}
                width: 33%
            @media #{$large}
                padding: 1rem
            @media screen and (max-width: 768px)
                width: 50%
            @media screen and (max-width: 475px)
                width: 100%   
            .blog-post
                box-shadow: 0px 0px 20px gray 
                h5 
                    padding: .5rem
                    text-align: center
                    color: #fff 
                    font-family: $headings
                    font-size: 1.5rem 
                    font-weight: 300
                    text-transform: uppercase
                    letter-spacing: .5rem
                    background-color: $blue
                h3 
                    padding: 1rem 0 .5rem 0
                    margin: 0 auto
                    width: 90%
                    font-family: $headings
                    font-size: 1.2rem
                    text-align: center
                    border-bottom: 1px solid black 
                .blog-body 
                    padding: .25rem 0
                    margin: 0 auto
                    width: 90%
                    font-family: $bodytext
                    font-size: .8rem
                .blog-link 
                    padding: 1rem 0
                    text-align: center
                    a 
                        font-family: $bodytext
                        padding: .5rem
                        border: 1px solid black 
                    a:hover 
                        background-color: $blue
                        color: #fff 
                        transition: .5s

// single blog

.single-post-container
    margin: 4rem auto
    width: 75%
    @media #{$xxlarge}
        width: 85%
    @media #{$xlarge}
        width: 95%
    @media #{$small}
        margin-top: 2rem
    .single-blog
        display: flex
        flex-wrap: nowrap
        justify-content: center
        align-items: stretch
        @media #{$medium}
            flex-direction: column
        .single-blog-image
            background-size: cover
            width: 45%
            border-radius: 5px
            @media #{$medium}
                margin: 0 auto 3rem
                width: 95%
                height: 20rem
            @media #{$small}
                margin: 0 auto 1rem
                height: 15rem
        .single-blog-content
            padding: 4rem 1rem
            margin-left: 3rem
            width: 55%
            display: flex
            flex-direction: column 
            @media #{$xlarge}
                padding: 1rem 1rem
            @media #{$large}
                margin-left: 1rem
            @media #{$medium}
                margin: 0 auto
                width: 100%
            h4 
                margin-bottom: 1rem
                color: $blue
            h5 
                align-self: flex-end 
                color: $blue
            