@import 'variables'

// Footer Styling
.footer
  background-color: $color1
  .footer-top
    padding: 2rem
    background-size: cover 
    .footer-container
      display: flex
      flex-wrap: wrap
      justify-content: center
      .footer-contact
        padding: 0 6rem 0 4rem
        text-transform: uppercase
        display: flex
        flex-direction: column
        justify-content: center
        @media screen and (max-width: 768px)
          margin-top: 2.5rem
        h2, .footer-number
          text-align: center
          color: #fff
          font-family: $headings
          line-height: 2rem
        h2 
          font-size: 1.5rem
          letter-spacing: .04rem
        .footer-number 
          font-weight: 700
          font-size: 2.75rem 
        .fa-facebook 
          margin-top: 2rem
          font-size: 2.5rem
          color: #fff
      .footer-form
        margin-top: 1rem
        flex-grow: 8
        position: relative
        @media screen and (max-width: 1250px)
          margin-top: 3rem
        .gform_title
          margin: 0
          color: #fff
          font-family: $headings
          text-transform: uppercase
          line-height: .5rem
        #gform_fields_1 // unordered list
          list-style-type: none
          padding: 0
          margin: 0
          display: flex
          flex-wrap: wrap
          @media screen and (max-width: 768px)
            display: block 
          .gfield_required
            display: none
          .gfield.is-trident
            &:nth-of-type(2)
              margin-top: -4rem
          .gfield.is-edge, .gfield.is-firefox
            &:nth-of-type(2)
              margin-top: -4.3rem
          .gfield
            width: 45%
            display: inline-block
            &:nth-of-type(2)
              margin-top: -4.75rem
              order: 3
            @media screen and (max-width: 768px)
              width: 100%
              display: block
              &:nth-of-type(2)
                margin-top: 0
                order: 2
          .ginput_container
            input                   // input li's
              padding: .5rem 0 .5rem .5rem
              width: 100%
            textarea               // message area li
              width: 100%
              height: 6.5rem
              margin-left: 3.5rem
              order: 2
              font-size: 100%
              @media screen and (max-width: 1024px) 
                margin-left: 2.5rem
              @media screen and (max-width: 768px)
                margin-left: 0
                order: 3
            textarea.small 
              padding: .5rem 0 .5rem .5rem
              font-size: 100%
        .gform_footer.is-edge, .gform_footer.is-trident
          @media screen and (max-width: 1668px)
            top: 46%
            right: -3.5rem
          @media screen and (max-width: 1587px)
            right: 0
            top: 50%
          // @media screen and (max-width: 1550px)
          //   top: 46.2%
          //   right: -3.5rem
          @media screen and (max-width: 1498px)
            right: -1rem
          @media screen and (max-width: 1495px)
            top: 50%
          @media screen and (max-width: 1250px)
            right: -2rem
        .gform_footer.is-firefox
          @media screen and (max-width: 1668px)
            top: 46.2%
            right: -3.5rem 
          @media screen and (max-width: 1594px)
            top: 49.5%
            right: 0
          @media screen and (max-width: 1355px)
            right: -1.5rem
          @media screen and (max-width: 1120px)
            right: -2.5rem
        .gform_footer               // submit button
          transform: rotate(-90deg)
          position: absolute
          right: -3rem
          top: 46.2%
          @media screen and (max-width: 1668px)
            right: 1rem
            top: 47.2%
          @media screen and (max-width: 1549px)
            right: .5rem
            top: 47.5%
          @media screen and (max-width: 1440px)
            right: 0
          @media screen and (max-width: 1350px)
            right: -1rem
          @media screen and (max-width: 1200px)
            right: -2rem
          @media screen and (max-width: 900px)
            right: -3rem
            top: 47.5%
          input
            padding: 0
            width: 6.51rem
            height: 2rem
            background: $red
            border: none
            color: #fff 
            font-weight: bold
            text-transform: uppercase
            letter-spacing: .3rem
          @media screen and (max-width: 768px)
            margin-top: 1rem
            transform: none
            position: static
        .gform_confirmation_message_1
          color: #fff 
          text-align: center
  .footer-line
    background: $red
    color: #fff
    font-family: $bodytext
    text-align: center
  .jlb
    color: white
    padding: 1rem
    p
      font-size: 0.6rem
      margin-bottom: 0
      text-align: center
    a
      color: white
      font-size: 0.6rem
