@import 'variables'

// Home Page Styling

.hero
    height: 70vh
    background-size: cover
    border-bottom: 10px solid $red
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    .hero-content
        padding: 1.5rem
        width: 100%
        text-align: center
        background: linear-gradient(to top, rgba(32,32,32,.9) 70%, transparent )
        .hero-title
            color: #fff 
            font-family: $headings
            font-size: 2.5rem
            font-weight: 700
            text-transform: uppercase
            letter-spacing: .25rem
            @media screen and (max-width: 1024px)
                font-size: 2rem
        .hero-sub-text
            color: #fff 
            font-family: $bodytext
            font-size: 1rem
.one
    margin: .6rem
    height: 35rem
    text-transform: uppercase
    color: #fff
    font-family: $headings
    font-size: 5rem
    @media screen and (max-width: 768px)
        height: 20rem
    .image-container
        height: 100%
        width: 100%
        display: flex
        flex-wrap: nowrap
        .service-image-collage
            height: 100%
            @media screen and (max-width: 768px)
                margin: 0 .6rem
                h3 
                    font-size: 1rem
            a 
                color: #fff 
        .service-row
            height: 50%
            display: flex
            align-items: stretch
        .service-images
            margin: .6rem
            background-size: cover
            .overlay
                background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5))
        .service-images:hover 
            .overlay 
                opacity: 0
                transition: .5s
        .image-collage-one
            flex-grow: 2.3
            .service-image-one
                position: relative
                flex-grow: 5
                @media screen and (max-width: 768px)
                    flex-grow: 1
                .service-title-one
                    position: absolute
                    right: 1rem
                    bottom: 5%
            .service-image-two
                position: relative
                width: 20%
                flex-grow: 1
                @media screen and (max-width: 768px)
                    flex-grow: 0
                    width: 45%
                .service-title-two
                    position: absolute
                    width: 100%
                    text-align: center
                    left: 50%
                    bottom: 5%
                    transform: translate(-50%, -5%)
            .service-arrow
                margin: .6rem
                background: $gray
                flex-shrink: 0
                width: 7rem
                display: flex
                justify-content: center
                align-items: center
                @media screen and (max-width: 1024px)
                    width: 5rem
                .fa-angle-left 
                    font-size: 10rem
                    color: $blue
                    @media screen and (max-width: 1024px)
                        font-size: 5rem
            .service-image-three
                flex-grow: 4
                position: relative
                .service-title-three
                    position: absolute
                    width: 100%
                    text-align: center
                    left: 50%
                    bottom: 5%
                    transform: translate(-50%, -5%)
            .service-image-four
                flex-grow: 6
                position: relative
                @media screen and (max-width: 768px)
                    flex-grow: 4
                .service-title-four
                    position: absolute
                    left: 1rem
                    bottom: 5%
        .image-collage-two
            flex-grow: 2
            display: flex
            align-items: stretch
            @media screen and (max-width: 1024px)
                display: none
            .service-image-five
                width: 100%
                flex-grow: 1
                position: relative
                .service-title-five
                    position: absolute
                    left: 50%
                    bottom: 2%
                    transform: translate(-50%, -5%)
        .image-collage-three
            flex-grow: 1
            @media screen and (max-width: 768px)
                display: none
            .service-image-six
                flex-grow: 2
                position: relative
                .service-title-six
                    position: absolute
                    width: 100%
                    text-align: center
                    left: 50%
                    bottom: 5%
                    transform: translate(-50%, -5%)
            .service-see-all
                margin: .6rem
                background: $gray
                flex-shrink: 0
                width: 7rem
                display: flex
                justify-content: center
                align-items: center
                h3 
                    color: $blue
                    font-family: $headings
                    font-size: 2rem
                    transform: rotate(-90deg)
            .service-see-all:hover
                box-shadow: 0 0 10px #777
                transition: .25s
            .service-image-seven
                width: 100%
                flex-grow: 1
                position: relative
                .service-title-seven
                    position: absolute
                    left: 1rem
                    bottom: 5%
.two
    overflow-x: hidden
    .info-container
        padding-top: 7rem
        padding-bottom: 12rem
        position: relative
        height: 100%
        display: flex
        flex-wrap: nowrap
        @media screen and (max-width: 768px)
            padding: 4rem 0
            flex-wrap: wrap
        .info-image
            position: relative
            width: 50%
            text-align: center
            @media screen and (max-width: 1024px)
                padding-right: 3rem
                width: 40%
            @media screen and (max-width: 768px)
                padding: 0
                width: 100%
                text-align: center
                flex-grow: 0
            img
                @media screen and (max-width: 1024px)
                    width: 100%
                @media screen and (max-width: 768px)
                    width: 85%
            .over-30-years-wrapper
                @media screen and (max-width: 768px)
                    padding: 1rem 0
                    width: 100%
                    display: flex
                    flex-wrap: nowrap
                    justify-content: center
                .over-30-years-one, 
                .over-30-years-two,
                .over-30-years-three
                    position: absolute
                    text-transform: uppercase
                    font-family: $headings
                    @media screen and (max-width: 768px)
                        margin: 0
                        position: relative
                        text-align: left 
                        bottom: 0
                        right: 0
                        top: 0
                        left: 0
                .over-30-years-one
                    color: $gray
                    font-size: 3.2rem
                    font-weight: 300
                    top: 12rem
                    right: 16.5rem
                    @media screen and (max-width: 1440px)
                        font-size: 2.5rem
                        top: 15.5rem
                        right: 13rem
                    @media screen and (max-width: 1024px)
                        font-size: 2rem
                        color: $red
                        bottom: -1rem
                        right: -3.5rem
                        top: auto
                    @media screen and (max-width: 768px)
                        bottom: 0
                        right: 0
                        top: 0
                        left: 0
                .over-30-years-two 
                    color: $blue
                    font-size: 15rem
                    font-weight: 700
                    bottom: 4rem
                    right: 1rem
                    @media screen and (max-width: 1440px)
                        font-size: 12rem
                        bottom: 3rem
                    @media screen and (max-width: 1024px)
                        font-size: 2rem
                        bottom: -1rem
                        right: -6rem
                    @media screen and (max-width: 768px)
                        margin: 0 .5rem
                        bottom: 0
                        right: 0
                        top: 0
                        left: 0
                .over-30-years-three
                    color: $red
                    font-size: 4rem
                    font-weight: 300
                    bottom: 3.5rem
                    right: -26rem
                    @media screen and (max-width: 1440px)
                        font-size: 3rem
                        bottom: 4rem
                        right: -19rem
                    @media screen and (max-width: 1024px)
                        font-size: 2rem
                        bottom: -1rem
                        right: -20rem
                    @media screen and (max-width: 768px)
                        bottom: 0
                        right: 0
                        top: 0
                        left: 0
        .info-content
            width: 50%
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            @media screen and (max-width: 1024px)
                width: 60%
            @media screen and (max-width: 768px)
                width: 100%
            .info-content-wrapper
                width: 100%
                padding-right: 7rem
                @media screen and (max-width: 1250px)
                    padding-right: 2rem
                @media screen and (max-width: 768px)
                    padding: 1rem
                    text-align: center
                h2
                    font-family: $headings
                    font-weight: 500
                    font-size: 2.3rem
                    @media screen and (max-width: 768px)
                        text-align: center
                p 
                    font-family: $bodytext
.three
    height: 98vh
    @media screen and (max-width: 1024px)
        height: auto
    .example-container
        height: 100%
        background-size: cover
        position: relative
        .example-position-wrapper
            height: 110%
            width: 100%
            position: absolute
            top: -5%
            @media screen and (max-width: 1024px)
                padding: 3rem 0
                height: 100%
                position: relative
                top: 0
            @media screen and (max-width: 768px)
                padding: 0
            .example-one,
            .example-two
                padding: 0 7rem
                width: 100%
                height: 50%
                display: flex
                flex-wrap: no-wrap
                @media screen and (max-width: 1440px)
                    padding: 0 3rem
                @media screen and (max-width: 1024px)
                    flex-direction: column
                @media screen and (max-width: 768px)
                    padding: 0
                .example-image
                    background-size: cover
                .example-content-wrapper
                    width: 52%
                    position: relative
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    @media screen and (max-width: 1024px)
                        width: 100%
                    .example-content
                        padding: 3rem 2rem 3rem 4rem
                        width: 100%
                        background-color: #fff
                        @media screen and (max-width: 1250px)
                            padding: 0 2rem
                        @media screen and (max-width: 786px)
                            padding: 2rem
                        h2 
                            font-family: $headings
                            font-weight: 700
                            font-size: 2.5rem
                        p 
                            font-family: $bodytext
            .example-two
                .example-content-wrapper
                    &:nth-of-type(1)
                        @media screen and (max-width: 1024px)
                            order: 2

.four
    padding-top: 8rem
    @media screen and (max-width: 786px)
        padding-top: 0
    .reviews
        height: 100%
        display: flex
        flex-wrap: no-wrap
        @media screen and (max-width: 1024px)
            flex-direction: column
        .reviews-image
            width: 50%
            background-size: cover
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center 
            @media screen and (max-width: 1024px)
                width: 100%
            .reviews-image-content
                width: 75%
                color: #fff
                text-align: center
                z-index: 3
                @media screen and (max-width: 1024px)
                    margin: 4rem 0
                @media screen and (max-width: 768px)
                    margin: 2rem 0
                    width: 95%
                h2 
                    font-family: $headings
                    font-weight: 700
                p 
                    font-family: $bodytext
                img 
                    margin-top: 3rem 
            .reviews-image-overlay
                height: 100%
                width: 100%
                position: absolute
                top: 0
                left: 0
                z-index: 2
                background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5))
        .reviews-content
            width: 50%
            @media screen and (max-width: 1024px)
                width: 100%
            h2 
                margin: 5rem 0 3rem 7rem
                font-family: $headings
                font-size: 2.3rem
                @media screen and (max-width: 1250px)
                    margin-left: 2rem
                @media screen and (max-width: 1024px)
                    margin-top: 3rem
                    margin-left: 7rem
                @media screen and (max-width: 768px)
                    margin: 3rem auto
                    text-align: center
            .reviews-content-section
                padding: 5rem 5rem 2rem
                background: $gray
                position: relative
                @media screen and (max-width: 1250px)
                    padding: 3rem 3rem 1rem 
                @media screen and (max-width: 1024px)
                    padding: 5rem 5rem 2rem
                @media screen and (max-width: 768px)
                    padding: 3rem 3rem 1rem
                .reviews-content-quote
                    position: absolute
                    top: 4rem
                    left: 3rem
                    @media screen and (max-width: 1250px)
                        top: 2rem
                        left: 1rem
                    @media screen and (max-width: 1024px)
                        top: 4rem
                        left: 3rem
                    @media screen and (max-width: 768px)
                        top: 2rem
                        left: 1rem
                p
                    margin-bottom: 0
                    font-family: $bodytext
                h3 
                    font-family: $headings
                    text-align: right
            .reviews-content-one
                margin: 0 0 5rem 7rem
                @media screen and (max-width: 1250px)
                    margin-left: 0
                @media screen and (max-width: 1024px)
                    margin-left: 7rem
                @media screen and (max-width: 768px)
                    margin-left: 0
            .reviews-content-one:after
                content: ''
                position: absolute
                top: 100%
                left: 4rem
                border-top: 40px solid $gray
                border-left: 40px solid transparent 
                border-right: 40px solid transparent 
            .reviews-content-two
                margin: 0 7rem 5rem 0
                @media screen and (max-width: 1250px)
                    margin-right: 0
                @media screen and (max-width: 1024px)
                    margin-right: 7rem
                @media screen and (max-width: 768px)
                    margin-right: 0
            .reviews-content-two:after
                content: ''
                position: absolute
                top: 100%
                right: 4rem
                border-top: 40px solid $gray
                border-left: 40px solid transparent 
                border-right: 40px solid transparent 
            

                        



                
            

        
            
